---
variables:
  DUNE_CMAKE_FLAGS:   "-DDUNE_ENABLE_PYTHONBINDINGS=ON -DDUNE_MAX_TEST_CORES=4 -DBUILD_SHARED_LIBS=TRUE -DDUNE_PYTHON_INSTALL_LOCATION=none -DCMAKE_POSITION_INDEPENDENT_CODE=TRUE -DCMAKE_DISABLE_FIND_PACKAGE_LATEX=TRUE -DCMAKE_DISABLE_FIND_PACKAGE_Alberta=TRUE -DCMAKE_DISABLE_FIND_PACKAGE_Vc=TRUE -DCMAKE_DISABLE_DOCUMENTATION=TRUE"
  DUNECI_CMAKE_FLAGS: $DUNE_CMAKE_FLAGS
  DUNE_CONTROL_PATH:  /duneci/modules:$CI_PROJECT_DIR
  DUNE_PY_DIR:        /duneci/modules/dune-py
  # adding this actually leads to the test failure seen in the core modules
  # don't know why this is required here but not for core modules - magic?
  DUNECI_PARALLEL:      "6"
  PYTHONPATH:         "/duneci/modules/dune-common/build-cmake/python:/duneci/modules/dune-geometry/build-cmake/python:/duneci/modules/dune-grid/build-cmake/python:/duneci/modules/dune-istl/build-cmake/python:/duneci/modules/dune-alugrid/build-cmake/python:/duneci/modules/dune-fem/build-cmake/python:$CI_PROJECT_DIR/build-cmake/python"

before_script:
  - . /duneci/bin/duneci-init-job
  - python3 -m venv /duneci/modules/dune-pip
  - source /duneci/modules/dune-pip/bin/activate
  - pip install --upgrade pip
  - pip install ufl numpy matplotlib mpi4py portalocker
  - duneci-install-module https://gitlab.dune-project.org/core/dune-common.git
  - duneci-install-module https://gitlab.dune-project.org/core/dune-geometry.git
  - duneci-install-module https://gitlab.dune-project.org/core/dune-grid.git
  - duneci-install-module https://gitlab.dune-project.org/core/dune-istl.git
  - duneci-install-module https://gitlab.dune-project.org/core/dune-localfunctions.git
  - duneci-install-module https://gitlab.dune-project.org/extensions/dune-alugrid.git

debian-11-gcc-9-17:
  image: duneci/debian:11
  script:
    - source /duneci/modules/dune-pip/bin/activate
      # issue with setup-dunepy: dune-fem-dg not yet build so dependency in dune-fem-dg fails
      # - python /duneci/modules/dune-python/bin/setup-dunepy.py --opts=$CI_PROJECT_DIR/scripts/opts/ci-gcc.opts install
    - duneci-standard-test
  variables:
    DUNECI_TOOLCHAIN:  gcc-9-17
    # DUNE_LOG_FORMAT:   '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
    # DUNE_LOG_LEVEL:    DEBUG
    # MAKEFLAGS:         "--verbose --output-sync=target --print-directory"

