/am
/dune-fem*.tar.gz
/dune-fem*.tar.bz2
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.guess
/config.lt
/config.status
/config.sub
/configure
/depcomp
/dependencies.m4
/dune-fem.pc
/install-sh
/libtool
/ltmain.sh
/make.inc
/missing
/setup.sh
/stamp-h1
/test-driver
/check.out
/check-doxygen.out
/check-headers.out

.deps
.libs
Makefile
Makefile.in

*~
*.la
*.lo
*.log
*.o
*.swp
*.trs
