/lagrangeinterpolation_linear
/lagrangeinterpolation_quadratic
/dgl2projection_adaptive
/dgl2projection_blockvector
/dgl2projection_filtered
/dgl2projection_vector
/dgl2projection_attached
/dgl2projection_fv
/dgl2projection_cmbpoint
/dgl2projection_cmbvariable
/dgl2projection_legendre
/dgl2projection_blockvectordiscretefunction
/vtxprojection_adaptive
/mapper_dg
/mapper_lagrange
/mapper_fv
/mapper_cmbpoint
/mapper_cmbvariable
/Makefile
/Makefile.in
/*.dgf.*
/*.log
/*.so
/*.so.*
/*.swp
/*.tmp
/*.vtu
/*.pvtu
/.deps
/.libs
