/adaptation
/combinedspaceadaptation
/dgl2projection_adaptive
/dgl2projection_attached
/dgl2projection_blockvector
/dgl2projection_blockvectordiscretefunction
/dgl2projection_combined
/dgl2projection_filtered
/dgl2projection_fv
/dgl2projection_hierarchiclegendre
/dgl2projection_idgridpart
/dgl2projection_legendre
/dgl2projection_petscdiscretefunction
/dgl2projection_vector
/dgl2projection_vector_int
/fmatrixconverter
/intersectionindexset
/lagrangeinterpolation_linear
/lagrangeinterpolation_quadratic
/vtxprojection_adaptive
/petscl2projection

/*.dgf.*
/*.tmp
/*.vtu
/*.pvtu
