/adapt
/padapt
/combinedtest
/combinedspacetest
/lagrangeadapt
/lagrangeglobalrefine
/lagrangeinterpolation
/interpolation
/legendretest
/l2projection
/arraytest
/dgcomm
/Makefile
/Makefile.in
/manager.replay
/gridout*
/sol*
/*.dgf.ALUgrid
/*.dgf.ALU3dGrid
/*.dgf.albertagrid
/*.log
/*.so
/*.so.*
/*.swp
/.deps
/.libs
