/** \page ChangeLog Change Log
 *
 *  The change log lists the major steps taken between the different releases.
 *
 *  \section Changes from 0.9 to 0.10
 *  - The evaluation methods taking a Quadrature and an int as arguments are
 *    now mere fronts for the evaluate methods taking a PointType.
 *  .
 */
